@import '../style/variables.scss';

* {
  font-family: sans-serif;
  margin: 0 auto;
}

ul {
  list-style: none;
}

h1 {
  font-size: $PRIMARY_SIZE;
  color: $PRIMARY_COLOR;
}

h2 {
  font-size: $SECOUNDARY_SIZE;
  color: $SECOUNDARY_COLOR;
}

h3 {
  font-size: $TERCIARY_SIZE;
  color: $TERCIARY_COLOR;
}

p {
  font-size: $TEXT_SIZE;
}

.about {
  background: $SPOTLIGHT_COLOR;
}
