@import '../style/variables.scss';

// Reset
* {
  font-family: sans-serif;
  margin: 0 auto;
  padding: 0;
  text-decoration: none;
}

ul {
  list-style: none;
}

// Titles
h1 {
  color: $PRIMARY_COLOR;
  font-size: $PRIMARY_SIZE;
}

h2 {
  color: $SECOUNDARY_COLOR;
  font-size: $SECOUNDARY_SIZE;
}

h3 {
  color: $TERCIARY_COLOR;
  font-size: $TERCIARY_SIZE;
}

p {
  color: $SECOUNDARY_COLOR;
  font-size: $TEXT_SIZE;
  line-height: 26px;
}

a {
  color: $LINK_COLOR;
  font-weight: bold;
}

// Sections
#root{
  left: 50%;
  margin-left: -480px;
  position: absolute;
  width: 960px;

  // About
  .about {
    background: $SPOTLIGHT_COLOR;
    height: 660px;

    article {
      height: 270px;
      padding-top: 45px;
      width: 90%;

      img {
        float: left;
      }

      .content-article {
        float: left;
        padding-left: 30px;
        width: 50%;

        h2 {
          padding-bottom: 7px;
        }

        h3 {
          font-style: italic;
          padding-bottom: 20px;
        }
      }
    }

    // Squad
    .squad {
      text-align: center;
      width: 100%;

      ul {
        padding-top: 45px;
        width: 100%;

        li {
          display: inline;
          padding-left: 10px;
        }
      }
    }
  }

  // Our values
  .our-values {
    float: left;
    height: 500px;
    padding-top: 60px;
    text-align: center;
    width: 100%;

    article {
      width: 33%;
      float: left;

      h2 {
        padding-top: 30px;
      }

      p {
        padding-top: 40px;
        text-align: justify;
        width: 77%;
      }
    }
  }
}
