@import '../../style/variables.scss';

header {
  background-image: url($HEADER_IMAGE);
  background-position: top center;
  background-repeat: no-repeat;
  background-size: 960px 450px;
  height: 650px;
  text-align: center;

  h1 {
    position: absolute;
    top: 11.5%;
    width: 100%;
  }

  p {
    position: absolute;
    left: 8%;
    top: 18.5%;
    width: 84%;
  }

  hr {
    position: absolute;
    background: $SECOUNDARY_COLOR;
    margin-left: 40%;
    top: 21.5%;
    width: 20%;
  }

  a {
    position: absolute;
    width: 100%;
    margin-left: -49.5%;
    top: 22.5%;

    span {
     font-size: 13px;
     top: -10px;
    }
  }
}


